<div>
	<%= link_to 'Add new task', new_task_path %>

	<h1>Tasks List</h1>
	<% if @tasks.blank? %>
		<p>You have not created or have been assigned to a Task</p>
	<% else %>
		<% @tasks.each do |task| %>
			<%= link_to "#{task.description}", task_path(task) %>
			<%= button_to  "Edit", edit_task_path(task), method: :get %>
			<%= button_to  "Delete", task, method: :delete %></br>
		<% end %>
	<% end %>
</div>